{
    "endOfLine": "lf",
    "printWidth": 95,
    "tabWidth": 4,
    "trailingComma": "es5",
    "importOrder": [
        "<THIRD_PARTY_MODULES>",
        "^context/(.*)$",
        "^services/(.*)$",
        "^hooks/(.*)$",
        "^components/(.*)$",
        "^models/(.*)$",
        "^constants/(.*)$",
        "^[./]"
    ],
    "importOrderSortSpecifiers": true
}
